[server default]
manager_workdir=/var/log/masterha
master_binlog_dir=/var/log/mysql
password=ins924a
ping_interval=2
remote_workdir=/var/log/masterha
repl_password=asnei931
repl_user=repl
ssh_user=root
user=mha_user

[server2]
candidate_master=1
hostname=slave_1

[server3]
candidate_master=1
hostname=slave_2
