[server default]
manager_workdir=/var/log/masterha
remote_workdir=/var/log/masterha
master_binlog_dir=/var/log/mysql
ping_interval=2
ssh_user=root
# generated
user=mha_user
password=ins924a
repl_user=repl
repl_password=asnei931
[server1]
hostname=master

[server2]
hostname=slave_1
candidate_master=1
[server3]
hostname=slave_2
no_master=1
